body{
        background-color: #05c0ab !important;
}
.container{
  max-width: 600px;
    
}
.btn{
  background: #43d9be;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
}

.username{
    font-weight: bold;
    text-transform: capitalize;
}

.message{
    font-size: 0.9em;
}

.remove{
  color: #fff;
}

.black{
  color: #000;
  font-weight: bold;
}